<launch>
    <!-- Map server -->
    <arg name="map_file" default="$(find baymaxrobot)/maps/khaled.yaml"/>
    <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

    <!-- AMCL used for localization -->
    <include file="$(find baymaxrobot)/launch/include/amcl.launch" />

    <!-- Calls navigation stack packages for compatible baymaxrobot base -->
      <!-- Takes reference from env variable baymax. ie. export baymax=2wd -->
    <include file="$(find baymaxrobot)/launch/include/move_base/move_base_2wd.launch" />
</launch>
