<launch>
    <!-- Run baymax compatible laser drivers. Takes reference from env var  ie. export baymaxLIDAR=xv11 -->
    <include file="$(find baymaxrobot)/launch/include/lidar/kinect.launch" />

    <!-- Publish static transform of the laser. Define your sensor offset here -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0 0 0.15 0 0 0  /base_link /laser 100"/>
</launch>


